IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 120

BreakAfterReturnType: None

AlignAfterOpenBracket: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PenaltyBreakAssignment: 1000000
PenaltyBreakBeforeFirstCallParameter: 1000000
PenaltyBreakOpenParenthesis: 1000000
PenaltyReturnTypeOnItsOwnLine: 1000000

NamespaceIndentation: All

SortIncludes: true
IncludeCategories:
  # C++ standard library includes
  - Regex: "^<[a-z0-9_]+>$"
    Priority: 1

  # Project and third-party includes
  - Regex: ".*"
    Priority: 100
